<%- include('partials/layout', { body: `
  <section class='hero'>
    <div>
      <h1>Sports Scheduler</h1>
      <p class='muted'>Create sports, schedule matches, and join sessions.</p>
      <div class='cta'>
        <a class='btn' href='/signup'>Create account</a>
        <a class='btn ghost' href='/signin'>Sign in</a>
      </div>
    </div>
    <div class='card'>
      <h3>What you can do</h3>
      <ul>
        <li>Admins: manage sports and view reports</li>
        <li>Players: create and join sessions</li>
        <li>Cancel sessions with reasons</li>
      </ul>
    </div>
  </section>
`}) %>
